<%- include("./includes/head.ejs") %> 
    <!-- My CSS -->
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/dashboard.css" />
    
    <title>DoSo | a NatGem doubt solving app</title>
  </head>
  <body>
    <h1>Error 404</h1>

    <h5>
      Page not found
    </h5>

    



<%- include("./includes/end.ejs") %> 
