<%- include("./includes/head.ejs") %> 
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    
    <title>DoSo | a NatGem doubt solving app</title>
  </head>
  <body>

    <%- include("./includes/navigation.ejs") %> 

    <main class="main-body slidein-right" id="main-body">
      <h1>Error 404</h1>

      <h3 class="os">
        Page not found 
      </h3>

    </main>
    



<%- include("./includes/end.ejs") %> 
