*{
  box-sizing: border-box;
  margin: 0;   
  padding: 0;   
}

body{
    background-color: #ffc996;
    color: #583d72;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Roboto Slab";
}

h1{
    font-size: 5rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}

h4{
    font-size: 1.25rem;
}

h5{
    font-size: 1rem;
}

h6{
    font-size: 0.9rem;
}

/* font families */

.rs{
    font-family: "Roboto Slab";
}
.os{
    font-family: "Open Sans";
}

/* font weights */

.thin{
    font-weight: 300;
}
.regular{
    font-weight: 400;
}
.semi-bold{
    font-weight: 600;
}
.bold{
    font-weight: 700;
}

/* colors */

.dark-violet{
    color: #583d72;
}
.peach{
    color: #ff8474;
}
.ochr-yellow{
    color: #ffc996;
}
.light-violet{
    color: #9f5f80;
}

/* animations */
@keyframes slidein {
    from{
        margin-left: 100%;
        width: 0;
    }
    to{
        margin-left: 0;
        width: 100%;
    }
}

/* navigation */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #583d72;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.navbar-nav{
    list-style: none;
    display: flex;
}

.navbar-nav .nav-item:not(:last-child){
    margin-right: 1rem;
}

.nav-link{
    text-decoration: none;
}

.fa-bars{
    display: none;
}

.dropdown-menu{
    display: none;
}

/* navbar responsive */

@media(max-width:990px){
    .navbar{
        flex-direction: column;
    }

    .navbar-nav{
        display: none;
    }

    .fa-bars{
        display: inline-block;
        font-size: 1.2rem;
        margin-left: auto;
        cursor: pointer;
    }

    .dropdown-menu{
        display: flex;
        list-style: none;
        flex-direction: column;
        text-align: center;
    }

    .hide{
        display: none;
    }
}


/* main */

main{
    padding: 1rem 2rem;
}










