<%- include("../includes/head.ejs") %> 
   <!-- My CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    
    <title>DoSo | a NatGem doubt solving app</title>
  </head>
  <body>

    <%- include("../includes/navigation.ejs") %> 

    <main class="main-body slidein-bottom" id="main-body">

      <ul class=" grid half-grid">
        <li class="grid-item">
          <h1>Welcome to DOSO</h1>
        </li>
        <li class="grid-item">
          <h3 class="os">
            A Natgem doubt solving app.
          </h3>
          <a href="/auth/login" class="btn mr-1">Login</a>
          <a href="/auth/signup" class="btn btn-dark">Sign Up</a>
        </li>
      </ul>


      
    </main>

<%- include("../includes/end.ejs") %> 