<%- include("../includes/head.ejs") %> 

 <!-- My CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/class.css" />
    
    <title>DoSo | a NatGem doubt solving app</title>
  </head>
  <body>

    <%- include("../includes/navigation.ejs") %> 

    <main class="main-body slidein-bottom" id="main-body">
       <h2><%= cls.name %></h2>
       <h5>Your Doubts</h5>

    </main>

<%- include("../includes/end.ejs") %> 